<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      5d tac toe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="winner">Player {{winner}} won the game!</div>
  <h1>Current Player: {{player}}</h1>
<div class="grid-container">
  <ion-button  class="grid-item" expand="block" fill="solid"  *ngFor="let item of this.grid, index as id" (click)="presentPopover($event, id)">
    <!-- {{item.position}} -->
    <!-- Last State -->
    <!-- <p *ngIf="dataReturned && item.position === dataReturned.id" [ngStyle]="{'font-size': (dataReturned.item* 15) + 'px'}">x</p> -->
    <!-- <p *ngIf="dataReturned && item.id === dataReturned.id; else lastState" [ngStyle]="{'font-size': (dataReturned.item* 15) + 'px'}">x</p> -->

      <p *ngIf="item.lastState && item.lastState.position === id" [ngStyle]="{'font-size': (item.lastState.size* 15) + 'px'}">{{item.lastState.letter}}</p>

  </ion-button >
  <!-- <app-squares *ngFor="let val of this.grid; let i = index" [value]='val.position'></app-squares> -->
</div>

<div class="grid-container">
  <div>
    <h2>Player</h2>
    <h2 class="grid" *ngFor="let item of sizes; index as id">(x,{{item}})</h2>
  </div>
  <ion-button (click)="resetGame()" expand="block" fill="solid" shape="round">
    Reset Game
  </ion-button>
</div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
